@import "tailwindcss";
@config "../tailwind.config.js";

@theme inline {
  --font-sans: "Satoshi", sans-serif;
  --font-heading: "Clash Display", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  html {
    @apply font-sans;
  }
}
